/* create.css */

/* Style for skills container */
.skill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  /* Style for skill tags */
  .skill-tag {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style for remove skill button */
  .remove-skill {
    background-color: #aa35dc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .remove-skill:hover {
    background-color: #c82333;
  }
  
  /* Style for add skill button */
  .add-skill {
    background-color: #28a745;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .add-skill:hover {
    background-color: #218838;
  }
  