.listing {
  width: 20rem;
  font-family: "Roboto Condensed", sans-serif;
}

.apply-form4 {
  position: absolute;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

select {
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 4px 5px 2px rgba(196, 189, 217, 0.38);
  margin: 20px;
}

.menu {
  display: flex;
  width: auto;
  height: 70vh;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.form-select {
  height: 70vh;
  border-radius: 25px;
}

.option {
  border-radius: 25px;
  padding: 20px;
  font-size: large;
  font-weight: bold;
  margin: 10px;
}

.option.active {
  background-color: #ffcc00;
  /* Replace with your desired background color for the active option */
}

/* Message.css */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid #e0e0e0;
  /* Initially transparent border */
  background: #ffffff;
  box-shadow: 0px 4px 5px 2px rgba(196, 189, 217, 0.38);
  border-radius: 25px;
  margin: 20px;
}

/* Customize scrollbar */
.chat-messages::-webkit-scrollbar {
  width: 8px;
  /* Set the width of the scrollbar */
}

/* Handle */
.chat-messages::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar handle */
  border-radius: 4px;
  /* Border radius of the scrollbar handle */
}

/* Track */
.chat-messages::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the scrollbar track */
}

.chat-messages {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}

.message-container {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 10px;
}

.message-container.sender {
  align-self: flex-end;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px;
  margin-right: 50px;
}

.message-container.receiver {
  align-self: flex-start;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px;
  margin-right: 50px;
}

.chat-input {
  margin-top: 10px;
}

.message-input button {
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: #777;
  border-radius: 100%;
  color: #44008d;
}

.message-input button:hover {
  transition: border-color 0.3s ease-in-out;
}

.recipient-name {
  font-weight: bold;
  margin-bottom: 4px;
  color: #e6e6e6;
}

.message-timestamp {
  display: flex;
  margin-right: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #7d7d7d;
  justify-content: end;
}

.message-content {
  color: #e6e6e6;
  padding: 10px;
  font-weight: 400;
  font-size: 24px;
  background: #44008d;
  border-radius: 25px 25px 0px 25px;
  margin: 10px;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
  display: flex;
}

.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.message-text-input {
  flex: 1;
  padding: 16px;
  border: none;
  border-radius: 25px;
  background: #e9ecff;
  margin-right: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 90%;
}

.message-text-input:focus {
  outline: none;
  border-color: #1f0063;
}

.send-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #44008d;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.send-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.send-button:hover {
  color: #44008d;
  border: 1px solid #1f0063;
  transition: color 0.3s ease-in-out;
}

.option-content {
  display: flex;
  align-items: center;
}

.recipient-info {
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c8c8c8;
  margin-right: 10px;
  font-weight: bold;
  color: white;
  background-size: cover;
  background-position: center;
}

.message-container.sender .message-content {
  background-color: #44008d;
  color: #fff;
  padding: 15px;
}

.message-container.receiver .message-content {
  background-color: #f1f0f0;
  color: #333;
  border-radius: 25px 25px 25px 0px;
  padding: 15px;
}

.chat-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  z-index: 1;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.recipient-info {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  font-family: "Gilroy-SemiBold", sans-serif;
  /* Apply Gilroy font to all headings */
}

.initial-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #44008d;
  color: white;
  display: inline-block;

  font-weight: bold;
  margin-right: 10px;
}

p {
  margin: 1rem 0;
  line-height: 1.4em;
  max-height: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* Media query for screens with width less than 768px */
@media (max-width: 768px) {
  /* Make the listing take the full width of the screen */
  .listing {
    width: 100%;
  }

  /* Arrange contacts above and chats below in a column layout */
  .menu {
    flex-direction: column;
    height: 100vh; /* Adjust the height of the menu to fill the viewport */
  }

  /* Set contact list to take up a smaller portion */
  .select {
    flex: 0 0 25%; /* Reduce the height of the contact list to 25% of the menu height */
    margin-bottom: 10px;
  }

  /* Set chat container to take up the remaining space */
  .chat-container {
    flex: 1;
    height: 75%; /* Increase the height of the chat container to 75% of the menu height */
  }
}
