.form-label3 {
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 18px;
  margin-bottom: 8px; /* Add margin bottom for spacing between label and input */
  margin-left: 10px;
}

.apply-form3 {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
}

.form-control3 {
  width: 100%; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  padding: 30px; /* Adjust padding for form fields */
  background-color: #e7eef3;
  border-radius: 16px;
  border: none;
  resize: vertical;
  font-family: "Gilroy-Regular", sans-serif; /* Use regular font for consistency */
  font-size: 16px; /* Adjust font size as needed */
  color: #333; /* Adjust text color as needed */
  margin: 10px;
}

/* Add hover and focus styles for better user interaction */
.form-control2:focus,
.form-control2:hover {
  background-color: #dde6eb;
  outline: none; /* Remove default outline */
}

.project-list2 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.project-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1; /* Take up full width */
  min-width: 600px;
  max-width: calc(50% - 2rem);
  background-color: #ffffff;
  border: 1px solid #2d0064;
  border-radius: 30px;
  margin-bottom: 2rem; /* Adjust bottom margin as needed */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

p {
  margin: 1rem 0;
  line-height: 1.4em; /* Adjust the line height as needed */
  max-height: 5.6em; /* Set the maximum height to 4 lines (4 * line-height) */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limit the number of lines to 4 */
  -webkit-box-orient: vertical;
}

.project-item .skills {
  display: flex;
}

.project-item .skills .badge {
  margin: 0.5rem;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1; /* Take up full width */
  max-width: calc(50% - 1rem); /* Maximum width for two items per row */
  background-color: #ffffff;
  border: 1px solid #2d0064;
  border-radius: 30px;
  margin-bottom: 2rem; /* Adjust bottom margin as needed */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  overflow: hidden; /* Hide content that exceeds the project item box */
}

.project-item-content {
  flex: 1;
  padding: 2rem; /* Adjust padding as needed */
  text-align: left;
  font-size: 1.5rem;
  font-weight: regular;
  color: #21003a;
  width: 100%; /* Make the content take up full width of the project item */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  /* Adjust padding for .apply-form3 */

  .project-container2 {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
    max-width: 100%; /* Ensure container takes up full width */
    margin: 0; /* Remove margin to prevent overflow */
    padding: 0; /* Adjust padding if necessary */
  }

  /* Mobile styles for project item 2 */
  .project-item2 {
    flex-basis: calc(100% - 1rem); /* Take up the full width of the container */
    min-width: 100%; /* Ensure minimum width covers the full screen */
    padding: 0.5rem; /* Adjust padding as needed */
    margin: 0.5rem 0; /* Add margin for spacing */
  }

  .project-item2 p {
    font-size: 1.2rem;
  }

  /* Adjust child elements for better display on mobile */
  .project-item2 .skills {
    display: flex;
    flex-wrap: wrap; /* Change to column direction */
    margin-bottom: 1rem; /* Add margin for spacing */
  }

  /* Adjust margin for skill badges */
  .project-item2 .skills .badge {
    margin: 0.5rem 0; /* Adjust margins for vertical arrangement */
  }
  .apply-form3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }

  /* Adjust font size and padding for form labels */
  .form-label3 {
    font-size: 14px;
    margin-left: 5px;
  }

  /* Adjust form field styles */
  .form-control3 {
    padding: 10px;
    font-size: 14px;
    height: 35px;
  }
}
