#navbar {
    background: #130525;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    font-family: 'Clash Display Variable';
    font-size: medium;
    padding-left: 10vw; /* Example value, adjust as needed */
    padding-right: 10vw; /* Example value, adjust as needed */
}


.navbar-brand {
    font-family: 'Space Quest', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    margin-left: 20px; /* Adjusted margin-left */
}

.navbar-nav .nav-item .nav-link {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    border-radius: 15px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: transparent;
    border-color: white;
}

.navbar-toggler-icon {
    color: #fff;
}

/* Adjustments for collapsed navbar */
@media (max-width: 991.98px) {
    .navbar-brand {
        margin-left: 0; /* Reset margin-left */
    }
}
