
/* Register.css */

.BG {
    background-image: url("../assets/rbg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Change to column direction to stack items vertically */
    justify-content: center;
    align-items:center;
  }

.add-form {
    margin: 20px auto; /* Adjust margin as needed */
    max-width: 500px; /* Set max-width for better responsiveness */
    padding: 80px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.508); /* Shadow effect */
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #712a2a;
    border-radius: 25px;
    color: #fff;


  }
  .custom-file-upload:hover {
    border: 1px solid #ffffff;
    border-radius: 25px;

  }
  
  .custom-file-upload input[type="file"] {
    display: none;
  }
  
  .form-control1 {
    margin-bottom: 20px;
    border-radius: 30px; /* Adjust margin-bottom as needed */
    text-align: start; /* Center align the text*/
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    color: #fff;
}
  
  .form-control1 label {
    margin-bottom: 5px;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 20px;
    color: #fff ;


  }
  .file-upload  {
    margin-bottom: 5px;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 20px;
    color: #fff ;

  }
 
 
  .form-control1 input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    text-align: start; /* Center align the text */

  }
  .btn {
    color: #fff; /* Button text color */
    background-color: rgb(158, 129, 255); /* Change button color on hover */
    padding: 10px 20px; /* Adjust padding as needed button size */
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    max-width: 160px;
    transition: background-color 0.3s; /* Add transition for smooth hover effect */
    margin-top: 20px;
    margin-bottom: 20px;

    display: block;
   
  }
  
  .btn:hover {
    background-color: rgb(143, 57, 255); /* Change button color on hover */
    color: #fff; /* Button text color */

  }

  .btn-block {
    width: 100%;
  }
  
  .btn:disabled {
    opacity: 0.5; /* Reduce opacity for disabled state */
    cursor: not-allowed; /* Change cursor for disabled state */
  }

 


  /* Responsive styles */
  @media (max-width: 600px) {
    .add-form {
      width: 90%;
    }
  }
  

  
