.signin-container {
  background-image: url("../assets/bg.svg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Change to column direction to stack items vertically */
  justify-content: center;
  align-items:center;
}

.signin-content {
  text-align: center;
}

.logo {
  width: 1000px; /* Increase logo size */
  height: auto;
  margin-bottom: 60px;
  display: block; /* Increase margin between logo and button */
}
.google-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px; /* Adjust padding for pill shape */
  border-radius: 50px; /* Use a large value for border-radius to create a pill shape */
  font-size: 16px;
  cursor: pointer;
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  max-width: 300px; /* Set max-width for better responsiveness */
  margin: 0 auto; /* Center horizontally */
  transition: background-color 0.3s ease;
}

.google-button img {
  width: 45px; /* Adjust Google icon size */
  height: 45px;
  margin-right: 10px; /* Add margin between icon and text */
}

.google-button span {
  flex: 1; /* Allow the text to take up remaining space */
  text-align: center; /* Center-align the text */
}

.google-button:hover {
  background-color: #357ae8;
}

.google-button:hover img {
  filter: brightness(1); /* Reset brightness of icon on hover */
}