/* Adjustments for smaller screens */
@media only screen and (max-width: 600px) {
  .apply-form {
    margin: 0 auto; /* Center the form horizontally */
    padding: 5%; /* Adjust padding for better spacing */
    margin-left: 0; /* Remove left margin on smaller screens */
  }

  .form-control {
    width: 100%; /* Make form fields full width on smaller screens */
  }

  .btn1 {
    max-width: none; /* Remove max-width */
    margin-top: 10px; /* Adjust top margin */
    margin-bottom: 10px; /* Adjust bottom margin */
  }
}

/* Base styles for both desktop and mobile */
.profile-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.profile-button:hover {
  background-color: transparent;
  border-color: white;
}

body {
  font-family: "Gilroy", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gilroy-Bold", sans-serif;
}

.apply-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 7%; /* Padding of whole form */
  margin-left: 200px; /* Add padding to the whole form */
}

.apply-form h1 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.form-label {
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 18px;
}

.form-control {
  width: 80%;
  height: 150px;
  padding: 20px;
  background: #e7eef3;
  border-radius: 16px;
  border: none;
  resize: vertical;
}

.title-textarea {
  height: 60px;
}

.desc-textarea {
  height: 180px;
}

.pay-textarea,
.duration-textarea {
  height: 60px;
  width: fit-content;
  border-radius: 12px;
}

.d-flex {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.d-flex .form-control {
  width: auto;
  height: 30px;
}

.d-flex .btn {
  margin-left: 20px;
}

.btn1 {
  color: #fff;
  background-color: rgb(158, 129, 255);
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  max-width: 160px;
  transition: background-color 0.3s;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  display: block;
}

.btn1:hover {
  background-color: rgb(143, 57, 255);
}
