/* styles.css */

.profile-button {
  width: 45px;
  height: 45px;
  border-radius: 50%; /* Makes the button circular */
  border: 2px solid transparent; /* Initially transparent border */
  transition: border-color 0.3s; /* Transition effect for border color change */
}

.profile-button:hover {
  background-color: transparent;
  border-color: white; /* Remove blue fill on hover */
}


body {
  font-family: 'Gilroy', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy-Bold', sans-serif; /* Apply Gilroy font to all headings */
}

.apply-form {
  display: flex;
  flex-direction: column;
  align-items:left;
  padding: 80px;/*padding of whole form*/
  margin-left: 200px; /* Add padding to the whole form */
}

.apply-form h1 {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.form-label {
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 18px;
}

.form-control {
  width: 80%;
  height: 150px;
  padding: 20px; /* Adjust padding for form fields */
  background: #E7EEF3;
  border-radius: 16px;
  border: none;
  resize: vertical; 
}

.title-textarea {
  height: 60px; /* Adjust height as needed */
}

.desc-textarea {
  height: 180px; /* Adjust height as needed */
}

.pay-textarea {
  height: 60px; /* Adjust height as needed */
  width: fit-content;
  border-radius: 12px;
}

.duration-textarea {
  height: 60px; /* Adjust height as needed */
  width: fit-content;
  border-radius: 12px;


}

.d-flex {
  display: flex;
  align-items: center;
  width: auto; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
}

.d-flex .form-control {
  /* Additional styling for the input field */
  width: auto;
  height: 30px; /* Adjust width as needed */
}

.d-flex .btn {
  /* Additional styling for the remove button */
  margin-left: 20px; /* Adjust margin as needed */
 
}
.btn1 {
  color: #fff; /* Button text color */
  background-color: rgb(158, 129, 255); /* Change button color on hover */
  padding: 10px 20px; /* Adjust padding as needed button size */
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  max-width: 160px;
  transition: background-color 0.3s; /* Add transition for smooth hover effect */
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  display: block;
 
}

.btn1:hover {
  background-color: rgb(143, 57, 255); /* Change button color on hover */
  color: #fff; /* Button text color */

}
