.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5rem;
  /* Adjust the left and right margins as needed */
}

.project-item2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  /* Take up full width */
  max-width: calc(50% - 1rem);
  /* Maximum width for two items per row */
  min-width: 400px;
  background-color: #ffffff;
  border: 1px solid #2d0064;
  border-radius: 30px;
  margin-bottom: 2rem;
  /* Adjust bottom margin as needed */
  box-sizing: border-box;
  /* Ensure padding is included in width calculation */
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 767px) {
  .container {
    margin: 0 1rem;
    /* Adjust the container margin for smaller screens */
  }

  .project-item2 {
    flex-basis: 100%;
    /* Take up the full width */
    max-width: 100%;
    /* Limit the max width to avoid overflow */
    margin-left: 0;
    /* Remove left margin */
    margin-right: 0;
    /* Remove right margin */
    padding: 1rem;
    /* Reduce padding */
    box-sizing: border-box;
    /* Include padding and border in element's total width */
  }
}

.project-item-content2 {
  padding: 2rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: regular;
  color: #21003a;
}

.project-item1 h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.project-item2 p {
  margin: 1rem 0;
}

.project-item2 .skills {
  display: flex;
}

.project-item2 .skills .badge {
  margin-right: 0.5rem;
}

.apply-btn-container {
  align-self: flex-start;
  margin-top: auto;
  /* Align the button to the bottom */
}

h1.with-margin2 {
  /* margin-left: 100px; */
  text-align: center;
  /* Adjust the value as needed */
}

p {
  /* margin-left: 100px; */
  /* Adjust the value as needed */
}

.size2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
