.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5rem; /* Adjust the left and right margins as needed */
  }
  
  .project-item1 {
    flex: 0 0 calc(50% - 1rem); /* Two cards per row */
    background-color: #ffffff;
    border: 1px solid #2d0064;
    border-radius: 60px;
    margin-bottom: 2rem; /* Adjust bottom margin as needed */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
  }
  
  @media (max-width: 767px) {
    .project-item1 {
      flex-basis: calc(100% - 1rem); /* Single card per row on smaller screens */
    }
  }
  
  .project-item-content1 {
    padding: 2rem;
    text-align: left;
    font-size: 1.5rem;
    font-weight: regular;
    color: #21003a;
  }
  
  .project-item1 h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
  
  .project-item1 p {
    margin: 1rem 0;
  }
  
  .project-item1 .skills {
    display: flex;
  }
  
  .project-item1 .skills .badge {
    margin-right: 0.5rem;
  }
  
  .apply-btn-container {
    align-self: flex-start;
    margin-top: auto; /* Align the button to the bottom */
  }
  
  h1 {
    margin-left: 100px;
    /* Adjust the value as needed */
  }

  .left-margin {
    margin-left: 80px; /* Adjust the value as per your requirement */
  }